/*#caja{
    width: 300px;
    height: 300px;
    background-color: black;
    padding-top: 10px;
    color:white

}

#caja2{
    width: 300px;
    height: 300px;
    background-color: black;
    margin: 100px;
    color: white;

}

p{
    background-color: white;
}*/
/*  
#caja3{
    width: 300px;
    height: 300px;
    background-color: black;
    margin-left: 100px;
    margin-top: 200px;
}*/

/*  #caja{
    margin-top: 50px;
    margin-bottom: 50px;
}

#caja{
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-color: red;
    border-right-color: blue;
    border-bottom-color: salmon;
    border-left-color: springgreen;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}
#caja2{
    border-width: 10px;
    border-color: orange;
    border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: dashed ;
    border-left-style: double;
    border-style: groove;
    border-style: ridge;
    border-style: inset;

    
}*/

/*  #caja{
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

/*  body{
    background-image: url("fondo.jpg");
    background-repeat:no-repeat;
}*/



